#areaApps small {
    font-size:11px;
}
h2 span {
    color:gray;
}
.adicionadoem {
    font-size:9px; color:gray;
}
table[name='listagem'] {
    font-weight:normal;
}

table[name='listagem'] tr:hover td {
    background-color:#fdedbb;
}

#novoGrupo input[name='nome'] {
    width:230px;
}

#novoGrupo, .windowblue {
    width:550px;
}

#novoGrupo h3, .windowblue h3 {
    margin:0px;
    padding:0px;
}

#novoGrupo input[name='nome']:focus {
    background-color:#fefadb;
}

#novoGrupo .header, .windowblue .header {
    border-bottom:1px solid #c9c9c9;
    margin-bottom:5px;
    height:59px;
}

#novoGrupo .footer, .windowblue .footer {
    padding:8px;
    border-top: 1px solid #c9c9c9;
}

#novoGrupo .actionCheckbox {
    width:30px;
}
#novoGrupo table, .windowblue table {
    width:100%;
    position:relative;
    margin:0px;
}
#novoGrupo table thead, .windowblue table thead {
    margin:0px;
    padding:0px;
    text-align:left;
    position:relative;
}
#novoGrupo table thead th, .windowblue table thead th {
    padding:2px;
}
#novoGrupo table tbody, .windowblue table tbody {
    padding:10px;
    max-height:284px;
    height:284px;
    overflow-y:scroll;
    overflow-x: hidden;
}
#novoGrupo table tbody td, .windowblue table tbody td {
    border-bottom:1px solid #c9c9c9;
    padding:5px;
    padding-bottom:5px;
}
#novoGrupo table tbody td, .windowblue table tbody td input[type='checkbox'] {
    padding-left:0px;
}
#novoGrupo table tbody tr:hover td, .windowblue table tbody tr:hover td {
    background-color:#fdedbb;
}
#novoGrupo .actionCheckbox input, .windowblue .actionCheckbox input {
    position:inherit;
}
#gruposList ul li {
    border-bottom:1px solid #c9c9c9;
    padding:6px;
}
#gruposList ul li small.datacriacao {
    color:gray;
    padding-left:5px;
}
#menu-bar {
    padding:5px;
    border-bottom:1px solid #c9c9c9;
    margin-bottom:2px;
}
#menu-bar a {
    color:gray;
    font-size:11px;
    font-family:sans-serif;
}
#menu-bar a:hover {
    color:gray;
}
.minobrigatorio {
    background-color:red;
    color:white;
    padding:2px;
    font-size:10px;
}

#modificarPermissoes {
    width:780px;
}
.list-content-novo-grupo li {
    border-bottom:1px solid #DFDFDF;
    padding:2px;
    clear:both;
    width:98.5%;
}
.list-content-novo-grupo li:hover {
    background-color:#EFEFEF;
}
.list-content-novo-grupo li div {
    height:37px;
    margin-top:-5px;
}
.list-content-novo-grupo li div p {
    margin:0px;padding:0px;
}
.list-content-novo-grupo li div:first-child {
    width:26px;
    float:left;
}

.list-content-novo-grupo li div:first-child input {
    margin-top:13px;
}

.list-content-novo-grupo li:last-child {
    border-bottom:none;
}
.important {
    padding:4px;
    margin:0px;
    font-size:11px;
}

.gruponome {
    padding-left:6px;
}

/*
* page novo grupo
*/
.tableContentScroll {
height:284px;
}

#col-left {
    overflow:auto;
    height:405px;
    padding-right:5px;
    margin-top:5px;
    width:100%;
}
#col-left li {
    border-bottom:1px solid #c9c9c9;
    padding:8px;
    margin-left:4px;
    min-height: 61px;
}
#col-left li:last-child {
    border-bottom:none;
}

.opacity0-5 {
    opacity:0.5;
}

.window-app-install-confirm {
    width:650px;
}

.window-app-install-confirm div.left-1 {
    width:120px;
    float:left;
    text-align:center;
    padding-top:6px;
}
.window-app-install-confirm div.right-1 {
    margin-left:130px;
    padding:10px;
    margin-top:20px;
    border-left:1px solid #e1e1e1;
}
.window-app-install-confirm h1 {
    padding:0px;margin:0px;
}
.window-app-install-confirm .bar-buttons {
    padding:6px;
}
.window-app-install-confirm .top-line {
    border-top:1px solid #e1e1e1;
    padding:10px;
    border-bottom:1px solid #e1e1e1;
}
.red {
    color:red;
}

.mini-avatar-thumb {
    overflow:hidden;
    width:33px;
    height:42px;
    position:relative;
    float:left;
    margin:0px;
    padding:0px;
    border:1px solid black;
}