/** spaces **/
.spaces-nav {
    margin-top:5px;
    height:30px;
}

.spaces-nav ul {
    margin:0 auto;
}

.spaces-nav ul li {
    padding:10px;
    padding-right:12px;
    font-size:14px;
    float:left;
}
.spaces-nav ul li:last-child {
    border-right:none;
}

/**
 * Forms
 */
.form-space-add, .form-widget-edit {
    width:450px;
}

.form-space-add li, .form-widget-edit li {
    padding:6px;
}

.form-space-add li input[type='text'] {
    width:100%;
}

div[class^='space-'] {
    display:none;
}

.wspaces-linha-default {
    text-align:center;
    padding:10px;
    border:1px dashed #c9c9c9;
    font-size:22px;
    color:gray;
    width:60%;
    margin:0 auto;
}

div[class^='spaces-line-row-'] {
    height:230px;
    margin-bottom:10px;
}

.unique-row div[class^='spaces-lines-col-'] {
    width:97.5%;
    margin-left:8px;
    height:100%;
}

.multiple-row div[class^='spaces-lines-col-'] {
    float:left;
    width:47.8%;
    height:100%;
    margin-left:8px;
    margin-right:8px;
}
.spaces-lines-colbar {
    position:absolute;
    z-index:999;
}
.spaces-lines-colbar ul li {
    float:left;
    display:none;
}
.wspaces-linha-opts {
    margin:0 auto;
    margin-bottom:1em;
    margin-right:1em;
    margin-top:-10px;
    float:right;
}
.wspaces-linha-opts ul li {

}

/** responsive definition */
.main-container .container_12 .grid_8 {
  width:95.9%;
}