.graphs-open h2 {
    padding:0px;
    margin:0px;
    text-align:right;
    color:#b60606;
    letter-spacing:-1px;
}
.graphs-open {
    font-size:14px;
    color:gray;
    width:750px;
    max-height:700px;
    overflow:auto;
}
.graphs-open ul li {
    border-top:1px dotted #e5e5e5;
    padding-bottom:7px;
    padding-top:7px;
}

.graphs-open small {
    font-size:11px;
}
.graphs-open textarea {
    width:95%;
    height:60px;
    font-size:13px;
    padding:5px;
}

.graphs-content {
    width:558px;
    margin-left:191px;
    height:380px;
    overflow:auto;
}

.graphs-content p[align='right'] {
    padding-right:0px;
}

.graphs-left {
    float:left;
    width:190px;
    height:380px;
    font-size:12px;
    border-right:1px solid #e5e5e5;
}

.graphs-left li {
    text-align:right;
    padding-right:8px;
    padding-bottom:7px;
    padding-top:7px;
}

.graphs-left ul li:hover {
    background-color:#e9e9e9;
}

.graphs-left a {
    color:gray;
}

/* Graphs Inicio */
.graphs-inicio {
    padding:8px;
}
.graphs-inicio .graphs-text p {
    font-size:12px;
}
.graphs-inicio .graphs-image ul li {
    width:170px;
    float:left;
    text-align:center;
}

/* Graphs Shared */
.graphs-shared {
    width:558px;
    padding:4px;
}
.graphs-shared td:first-child {
    width:40px;
    text-align:center;
}
.graphs-shared td {
    border-bottom:1px dotted gray;
    padding:4px;
}
.graphs-shared tr:last-child td {
    border-bottom:none;
}
.graphs-shared tr:hover td {
    color:black;
    cursor:pointer;
}
.graphs-shared td small {
    font-size:10px;
}