aside .aside-secs-wrapper .aside-menu-option,
aside .aside-secs-wrapper .aside-back,
.sidebar .first-level  {
  width: 100%;
}

aside .aside-secs-wrapper .sec-content-wrapper {
  width: 300px;
}


.sidebar {
  border:none;
}

@media all {
  body {
    min-width: 100rem;
    min-width: 100vw;
  }

  .container_12 {
    width: 100rem;
    width: 100vw;
  }

  .logo-wrapper .grid_8 {
    width: 55rem;
    width: 55vw;
    margin: 0 1rem;
    margin: 0 1vw;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .logo-wrapper .message-header {
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .logo-wrapper .grid_4 {
    float: right;
    width: 40rem;
    width: 40vw;
    margin: 0 2rem 0 1rem;
    margin: 0 2vw 0 1vw;
  }

  .sidebar {
    display: none;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -260px;
    z-index: 999;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .sidebar.active {
    /*right: -282px;*/
    right: -220px;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    display: block;
    /*
    -webkit-box-shadow: -1px 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 0 5px rgba(0,0,0,0.3);
    box-shadow: -1px 0 5px rgba(0,0,0,0.3);
    */
  }

  aside {
    max-height: 100rem;
    max-height: 100vh;
    height: 100rem;
    height: 100vh;
  }

  .h-btn.push {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .mp-pusher.active > .push-deactivator {
    visibility: visible;
    opacity: 1;
  }

  .main-container .area-content {
    width: 770px;
    margin: 0 auto;
    display: block;
    float: none;
  }

  .mp-pusher.active {
    -webkit-transform: translate3d(-220px, 0, 0)!important;
    -moz-transform: translate3d(-220px, 0, 0)!important;
    transform: translate3d(-220px, 0, 0)!important;
  }

  .scroller {
    /*width: 1014px;*/
    overflow-y: auto;
    overflow-x: auto;
  }

  .scroller-inner {
    /*width: 1014px;*/
  }
}