.sm-width-900 {
	width:960px;
}

.line-h-30 {
	height:30px;
}

.sm-width-900 input[type='text'] {
	height:23px;
}

input[name='bl[inicio]'], input[name='bl[termino]'], input[name='pl[inicio]'], input[name='pl[termino]'], input[name='rp[inicio]'], input[name='rp[termino]'], input[name='ac[inicio]'], input[name='ac[termino]'] {
    text-align: center;
}

.area-registros {
	font-size:13px;
}

.tlf-titulo-registros {
	font-size:14px;
	font-weight: bold;
}

.area-registros-list {
	border-bottom:1px solid #008597;
}

.area-registros-list:last-child {
	border-bottom:none;
}

.atividades-interdep-list:last-child {
	border-bottom:none;
}
