/*
 * @author Cristian Neagu
 * @description Flickr Horizontal Menu
 * @link http://www.candesprojects.com/downloads/flickr-horizontal-menu/
 */
#nicemenu { margin:0 auto; width:700px;margin-top:11px; margin-left:0px; }
#nicemenu a { /*color:#0066CC;*/ color:#1c1c1c; text-decoration:none; }
#nicemenu a:hover { text-decoration:underline; }
#nicemenu li { display:inline; position:relative; }
#nicemenu li span { position:relative; z-index:10; padding:4px 3px 4px 5px;  border-bottom:none; line-height:23px;  border-top:solid 1px #E5E5E5; border-left:solid 1px #E5E5E5;  border-right:solid 1px #999999; border-bottom:solid 1px #fff; }
#nicemenu li span a { font-weight:bold; padding:0 6px 0px 2px;  }
*+html #nicemenu li span.over {  border-top:solid 2px #E5E5E5; padding-bottom:3px; } /* IE6 */
#nicemenu li span.over a { }
#nicemenu li span.over a:hover { text-decoration:none; }
#nicemenu li span.active { padding:4px 3px 4px 5px;  border-top:solid 1px #E5E5E5; border-left:solid 1px #E5E5E5;  border-right:solid 1px #999999; border-bottom:solid 1px #fff;  }
*+html #nicemenu li span.active {  border-top:solid 2px #E5E5E5; padding-bottom:3px; }
#nicemenu li span.active a { }
#nicemenu li span.active a:hover { text-decoration:none; }
#nicemenu img.arrow { /*margin-left:4px;*/ cursor:pointer; }
#nicemenu div.sub_menu { display:none; position:absolute; left:0; top:0px; margin-top:18px; border-top:solid 1px #E5E5E5; border-left:solid 1px #E5E5E5; border-right:solid 1px #999999; border-bottom:solid 1px #999999; padding:4px; top:2px; width:160px; background:#FFFFFF;z-index:20000; }
* html #nicemenu div.sub_menu { margin-top:23px; } /* IE6 */
*+html #nicemenu div.sub_menu { margin-top:23px; } /* IE7 */
#nicemenu div.sub_menu a:link,
#nicemenu div.sub_menu a:visited,
#nicemenu div.sub_menu a:hover{ display:block; font-size:11px; padding:4px;}
#nicemenu a.item_line { border-top:solid 1px #E5E5E5; padding-top:6px !important; margin-top:3px; }
.submenu {
    height:15px;
}

#nicemenu a#menuArrow {
    background-image:url('images/menu_arrows.png');
    background-repeat:none;
    width:22px;
    padding-right:16px;
    height:19px;
    cursor:pointer;
    background-position:0px 15px;
    height:18px;
    padding-bottom:2px;
}
#nicemenu a#menuArrow:hover {
    background-position:0px 32px;
}

#options-layer ul li:hover {
    background-color:#f5f5f5;
}