/*-- CSS Document --*/
@charset "utf-8";

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
----------------- RESET.CSS ------------------
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
--------------- FONTFACE.CSS -----------------
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*------ LIGATURE SYMBOLS ------*/
@font-face {
    font-family: 'open_sansbold';
    src: url('../fontface/opensans-bold-webfont.eot');
    src: url('../fontface/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-bold-webfont.woff') format('woff'),
         url('../fontface/opensans-bold-webfont.ttf') format('truetype'),
         url('../fontface/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fontface/opensans-bolditalic-webfont.eot');
    src: url('../fontface/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-bolditalic-webfont.woff') format('woff'),
         url('../fontface/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('../fontface/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fontface/opensans-extrabold-webfont.eot');
    src: url('../fontface/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-extrabold-webfont.woff') format('woff'),
         url('../fontface/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fontface/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fontface/opensans-extrabolditalic-webfont.eot');
    src: url('../fontface/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('../fontface/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fontface/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fontface/opensans-italic-webfont.eot');
    src: url('../fontface/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-italic-webfont.woff') format('woff'),
         url('../fontface/opensans-italic-webfont.ttf') format('truetype'),
         url('../fontface/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fontface/opensans-light-webfont.eot');
    src: url('../fontface/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-light-webfont.woff') format('woff'),
         url('../fontface/opensans-light-webfont.ttf') format('truetype'),
         url('../fontface/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fontface/opensans-lightitalic-webfont.eot');
    src: url('../fontface/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fontface/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../fontface/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fontface/opensans-regular-webfont.eot');
    src: url('../fontface/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-regular-webfont.woff') format('woff'),
         url('../fontface/opensans-regular-webfont.ttf') format('truetype'),
         url('../fontface/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fontface/opensans-semibold-webfont.eot');
    src: url('../fontface/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-semibold-webfont.woff') format('woff'),
         url('../fontface/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fontface/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fontface/opensans-semibolditalic-webfont.eot');
    src: url('../fontface/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/opensans-semibolditalic-webfont.woff') format('woff'),
         url('../fontface/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('../fontface/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
------------------ PA-GRID.CSS -----------------
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
body {
  min-width: 1110px;
}
/* `Container
----------------------------------------------------------------------------------------------------*/
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 1110px;
}
/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}
/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 60px;
}

.container_12 .grid_2 {
  width: 140px;
}
.container_12 .grid_3 {
  width: 220px;
}
.container_12 .grid_4 {
  width: 300px;
}
.container_12 .grid_5 {
  width: 380px;
}
.container_12 .grid_6 {
  width: 460px;
}
.container_12 .grid_7 {
  width: 540px;
}
.container_12 .grid_8 {
  width: 770px;
}
.container_12 .grid_9 {
  width: 700px;
}
.container_12 .grid_10 {
  width: 780px;
}
.container_12 .grid_11 {
  width: 860px;
}
.container_12 .grid_12 {
  width: 940px;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.container_12:after {
  clear: both;
}
.clearfix,
.container_12 {
  zoom: 1;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
------------------ STYLE.CSS -----------------
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*------ GENERAL ------*/
body{
  font-size: 10px;
}

.clear-fix {
  clear: both;
}

p, a, h1, h2, h3, h4, h5, h6, span, li {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  	text-decoration: none;
  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bfr:before {
  content:"";
  display: block;
  float: left;
  margin-right: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.afr:after {
  content:"";
  display: block;
  float: right;
  margin-right: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::selection {
	background:#e74c3c;
	color:#fff;
}

::-moz-selection {
  background:#e74c3c;
  color:#fff;
}

/*%%%%%%  PUSH MENU  %%%%%%*/
html,
body,
.container,
.scroller {
  height: 100%;
}

.scroller {
   overflow-y: scroll;
}

.scroller,
.scroller-inner {
   position: relative;
}

.container {
  position: relative;
  overflow: hidden;
}

/*%%%%%%  HEADER  %%%%%%*/
.logo-wrapper {
  background-color: #f9f9f9;
  /*border-top: 4px solid #3498db;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.30);
  position: relative;
}

.logo-wrapper .message-header {
  font: 1.4em "open_sanslight", Arial, Verdana, sans-serif;
  color: #777;
  margin: 15px;
  display: block;
  float: left;
}

.header-user > a {
  float: left;
  display: block;
  padding: 10px;
  height: 100%;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.header-user > a:hover {
  background-color: #fff;
  border-left-color: #e2e2e2;
  border-right-color: #e2e2e2;
}

.header-user .trigger-user {
  font: 1.5em "open_sanslight", Arial, Verdana, sans-serif;
  color: #777;
  margin-right: 10px;
  float: left;
  line-height: 1.8em;
}

.header-user .trigger-user:before {
  height: 21px;
  width: 7px;
  background: url(../images/sprite.png) no-repeat -136px 0px;
  margin: 5px 15px 0 0;
}

.header-user #trigger:hover .trigger-user {
  color: #3498db;
}

.header-user .trigger-avatar,
aside .a-chat-sec li > .chat-avatar {
  overflow: hidden;
  display: block;
  float: right;
  position: relative;
  height: 33px;
  width: 38px;
}

.header-user .trigger-avatar:before,
.header-user .trigger-avatar:after,
.user-avatar:before,
.user-avatar:after,
aside .a-chat-sec li > .chat-avatar:before,
aside .a-chat-sec li > .chat-avatar:after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.user-avatar:before,
.user-avatar:after {
  border-width: 6px;
}

.header-user .trigger-avatar:before,
.user-avatar:before,
aside .a-chat-sec li > .chat-avatar:before {
  top: 0;
  left: 0;
  border-top-color: #f9f9f9;
  border-left-color: #f9f9f9;
}

.header-user #trigger:hover .trigger-avatar:before,
.user-avatar:before,
aside .a-chat-sec li > .chat-avatar:before {
  border-top-color: #FFF;
  border-left-color: #FFF;
}

.header-user .trigger-avatar:after,
.user-avatar:after,
aside .a-chat-sec li > .chat-avatar:after {
  bottom: 0;
  right: 0;
  border-bottom-color: #f9f9f9;
  border-right-color: #f9f9f9;
}

.header-user #trigger:hover .trigger-avatar:after,
.user-avatar:after,
aside .a-chat-sec li > .chat-avatar:after {
  border-bottom-color: #FFF;
  border-right-color: #FFF;
}

.header-user .trigger-avatar > img {
  width: 38px;
  height: auto;
}

/*HEADER NAV*/
.logo-wrapper li {
  float: right;
  border-right: 1px solid #e5e5e5;
}

.s-sism {
  display: block;
  height: 24px;
  width: 24px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -99999px;
  margin: 15px;
}

.s-sism.success {
  background-position: -31px 0px;
}

.s-sism.caution {
  background-position: -81px 0px;
}

.s-sism.cancel {
  background-position: -56px 0px;
}

.s-sism.info {
  background-position: -106px 0px;
}

.h-btn {
  display: block;
  padding: 17px;
  height: 54px;
  width: 55px;
  text-indent: -99999px;
  position: relative;
  margin: 0 -1px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.h-btn.push {
  display: none;
}

.h-btn:hover {
  background-color: #fff;
  border-left-color: #d5d5d5;
  border-right-color: #d5d5d5;
}

.h-btn:before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background: url(../images/sprite.png) no-repeat;
  float: left;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.h-off:before {
  background-position: -748px -1px;
}

.h-off:hover:before {
  background-position: -748px -24px;
}

.push:before {
  background-position: -727px -1px;
}

.push:hover:before {
  background-position: -727px -24px;
}

/*%%%%%%  BREADCRUMBS  %%%%%%*/
.breadcrumbs-wrapper {
  padding: 15px 0;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}

.breadcrumbs-wrapper h1 {
  text-transform: uppercase;
  font: 2.2em "open_sanslight", Arial, Verdana, sans-serif;
  color: #666666;
}

.breadcrumbs-wrapper h1:before {
  height: 24px;
  width: 29px;
  background: url(../images/sprite.png) no-repeat -1px -24px;
  margin: 4px 13px 0 0;
}

/*%%%%%%  FOOTER  %%%%%%*/
footer {
  padding: 15px 0;
  border-top: 1px solid #dddddd;
  background-color: #fff;
  width: 100%;
  height: 49px;
}

footer span {
  font: 1.2em "open_sanslight", Arial, Verdana, sans-serif;
  color: #666666;
}

footer span:before {
  height: 17px;
  width: 17px;
  margin-right: 0.6em!important;
  background: url(../images/sprite.png) no-repeat 0 0;
}

footer span a {
  color: #3498db;
  position: relative;
}

footer span a:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #3498db;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

footer span a:hover:before {
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*%%%%%%  DASHBOARD - MAIN AREA  %%%%%%*/
.main-container {
  /*background-color: #f2f2f2;*/
  padding: 20px 0;
}

.main-secs-wrapper {
  margin-bottom: 10px;
}

.main-secs-wrapper > input[type="checkbox"],
aside .aside-secs-wrapper input[type="checkbox"] {
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.main-secs-wrapper label {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 10px 50px 10px 55px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pn-sec {
  background-color: #1abc9c;
}

.apps-sec {
  background-color: #e67e22;
}

.graphs-sec {
  background-color: #3498db;
}

.prefs-sec {
  background-color: #34495e;
}

.main-secs-wrapper label:before,
.main-secs-wrapper label:after {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/sprite.png) no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-secs-wrapper label:before {
  top: 9px;
  left: 18px;
  height: 27px;
}

.pn-sec label:before {
  width: 20px;
  left: 20px;
  background-position: -65px -24px;
}

.apps-sec label:before {
  width: 27px;
  background-position: -87px -24px;
}

.graphs-sec label:before {
  width: 26px;
  background-position: -116px -24px;
}

.prefs-sec label:before {
  width: 25px;
  background-position: -144px -24px;
}

.main-secs-wrapper label:after {
  top: 18px;
  right: 20px;
  height: 9px;
  width: 27px;
  background-position: -171px -43px;
}

.main-secs-wrapper input[type="checkbox"]:checked ~ label:after {
  background-position: -171px 0;
}

.main-secs-wrapper label > span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  padding: 10px;
}

.main-secs-wrapper label h2 {
  font: 2.2em "open_sanslight", Arial, Verdana, sans-serif;
  color: #fff;
}

.main-secs-wrapper .sec-content {
  height: 0;
  visibility: hidden;
  opacity: 0;
  /*background-color: #fff;*/
  overflow: hidden;
}

.pn-sec .sec-content {
  /*background-color: #16a085;*/
}

.apps-sec .sec-content {
  /*background-color: #d35400;*/
}

.graphs-sec .sec-content {
  /*background-color: #2980b9;*/
}

.prefs-sec .sec-content {
  /*background-color: #263646;*/
}

.main-secs-wrapper input[type="checkbox"]:checked ~ .sec-content {
  visibility: visible;
  opacity: 1;
  height: 100%;
  min-height: 68px;
  max-height: 785px;
  padding: 10px 25px 0 29px;
}

.sec-content li {
  float: left;
  margin: 0 29px 29px 0;
  display: block;
}

.sec-content li > a {
  display: block;
  position: relative;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 20px 25px 23px;
  width: 156px;
}
/*
.pn-sec .sec-content li > a:hover {
  border-color: #0c5c4c;
}

.apps-sec .sec-content li > a:hover {
  border-color: #9f4001;
}

.graphs-sec .sec-content li > a:hover {
  border-color: #06456e;
}

.prefs-sec .sec-content li > a:hover {
  border-color: #0c151d;
}*/

.sec-content li > a:hover {
  opacity: 0.5;
}

.sec-content .ico {
  height: 56px;
  width: 55px;
  display: block;
  margin: 0 auto 10px;
  background: url(../images/sprite.png) no-repeat;
}

.sec-content .map {
  background-position: 0px -59px;
  width: 54px;
}

.sec-content .tool {
  background-position: -57px -59px;
}

.sec-content .roll {
  background-position: -115px -59px;
}

.sec-content .clock {
  background-position: -174px -59px;
}

.sec-content .list {
  background-position: -232px -59px;
  width: 45px;
}

.sec-content .calendar {
  background-position: -280px -59px;
}

.sec-content .appname {
  font: 1.3em "open_sanslight", Arial, Verdana, sans-serif;
  text-align: center;
  display: block;
}
/*
.pn-sec .sec-content a:hover .appname {
  color: #1abc9c;
}

.apps-sec .sec-content a:hover .appname {
  color: #e67e22;
}

.graphs-sec .sec-content a:hover .appname {
  color: #3498db;
}

.prefs-sec .sec-content a:hover .appname {
  color: #34495e;
}*/

.sec-content .applabel {
  width: 140px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 6px;
  padding: 5px 20px 5px 10px;
  font: 1.2em "open_sansregular", Arial, Verdana, sans-serif;
  text-align: center;
  color: #6B6B6B;
  text-transform: uppercase;
  background-color:#BFBFBF;
}
/*
.pn-sec .sec-content .applabel {
  background-color: #1abc9c;
}

.apps-sec .sec-content .applabel {
  background-color: #e67e22;
}

.graphs-sec .sec-content .applabel {
  background-color: #3498db;
}

.prefs-sec .sec-content .applabel {
  background-color: #34495e;
}
*/
.sec-content .applabel:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  position: absolute;
  top: -6px;
  right: 0;
}
/*
.pn-sec .sec-content .applabel:after {
  border-left-color: #0c5c4c;
  border-bottom-color: #0c5c4c;
}

.apps-sec .sec-content .applabel:after {
  border-left-color: #9f4001;
  border-bottom-color: #9f4001;
}

.graphs-sec .sec-content .applabel:after {
  border-left-color: #06456e;
  border-bottom-color: #06456e;
}

.prefs-sec .sec-content .applabel:after {
  border-left-color: #0c151d;
  border-bottom-color: #0c151d;
}*/

/*%%%%%%  ASIDE  %%%%%%*/
aside {
  overflow: hidden;
  background-color: #fff;
  /*border: 1px solid #ddd;*/
  max-height: 80rem;
  max-height: 80vh;
  min-height: 85rem;
  min-height: 85vh;
}

aside .client-logo {
  padding: 25px;
  border-bottom: 1px solid #ddd;
  height: 135px;
}

aside .client-logo > img {
  margin: 0 auto;
  display: block;
  max-height: 135px;
}

aside .aside-menu-wrapper {
  height: -webkit-calc(100% - 135px);  /* para Chrome */
  height: -moz-calc(100% - 135px);     /* para Firefox */
  height: calc(100% - 135px);
  position: absolute;
  width: 300px;
  overflow: hidden;
  overflow-y: auto;
}

aside .aside-secs-wrapper .aside-menu-option,
aside .aside-secs-wrapper .aside-back,
.sidebar .first-level  {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 10px 30px 10px 55px;
  position: relative;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar .first-level {
  opacity: 0;
  display: none;
  visibility: hidden;
  background-color: #f9f9f9;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar.active .first-level {
  opacity: 1;
  visibility: visible;
  display: block;
}

.aside-secs-wrapper .aside-menu-option h3,
aside .aside-secs-wrapper .aside-back > span,
.sidebar .first-level > span {
  font: 2em "open_sanslight", Arial, Verdana, sans-serif;
  color: #666666;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

aside .aside-secs-wrapper .aside-back > span,
.aside-secs-wrapper .aside-menu-option:hover h3,
.aside-secs-wrapper .aside-menu-option:hover a,
aside .aside-secs-wrapper .aside-back:hover > span {
  color: #FFF;
}

.sidebar .first-level:hover > span {
  color: #333;
}

.sidebar .first-level:hover {
  background-color: #eee;
}

.aside-menu-option .new-indicator {
  display: block;
  border-radius: 100%;
  padding: 4px 6px;
  height: 18px;
  left: 10px;
  top: 0;
  bottom: 0;
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  font: 0.6rem/0.6rem "open_sanssemibold", Arial, Verdana, sans-serif;
  margin: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.aside-menu-option:hover .new-indicator {
  background-color: #FFFFFF;
}

/* My Apps
-----------------------*/
.a-apps-sec .new-indicator {
  background-color: #e67e22;
}

.a-apps-sec:hover .new-indicator {
  color: #e67e22;
}

/* Chat
-----------------------*/
.a-chat-sec .new-indicator {
  background-color: #95a5a6;
}

.a-chat-sec:hover .new-indicator {
  color: #95a5a6;
}

/* Alerts
-----------------------*/
.a-alert-sec .new-indicator {
  background-color: #e74c3c;
}

.a-alert-sec:hover .new-indicator {
  color: #e74c3c;
}

/* Tips
-----------------------*/
.a-tips-sec .new-indicator {
  background-color: #f1c40f;
}

.a-tips-sec:hover .new-indicator {
  color: #f1c40f;
}

/* Messages
-----------------------*/
.a-mes-sec .new-indicator {
  background-color: #525789;
}

.a-mes-sec:hover .new-indicator {
  color: #525789;
}

/* Configs
-----------------------*/
.a-config-sec .new-indicator {
  background-color: #91c854;
}

.a-config-sec:hover .new-indicator {
  color: #91c854;
}

/* Points of Navigation
-----------------------*/
.a-pn-sec .new-indicator {
  background-color: #1abc9c;
}

.a-pn-sec:hover .new-indicator {
  color: #1abc9c;
}

/* Graphs
-----------------------*/
.a-graph-sec .new-indicator {
  background-color: #3498db;
}

.a-graph-sec:hover .new-indicator {
  color: #3498db;
}

/* Preferences
-----------------------*/
.a-pref-sec .new-indicator {
  background-color: #34495e;
}

.a-pref-sec:hover .new-indicator {
  color: #34495e;
}

aside .sec-content-wrapper h3 {
  display: block;
  width: 100%;
  padding: 10px 45px 10px 55px;
  position: relative;
  border-bottom: 1px solid;
  font: 2em "open_sanslight", Arial, Verdana, sans-serif;
  color: #fff;
}
aside .aside-secs-wrapper .aside-menu-option:before,
aside .sec-content-wrapper h3:before,
aside .aside-secs-wrapper .aside-back:before,
.sidebar .first-level:before {
  content: "";
  display: block;
  position: absolute;
  height: 22px;
  width: 22px;
  left: 20px;
  top: 13px;
  background: url(../images/sprite.png) no-repeat;
  -webkit-transition: all 0.2s ease-in-out 0.4s;
  -moz-transition: all 0.2s ease-in-out 0.4s;
  transition: all 0.2s ease-in-out 0.4s;
}

aside .sec-content-wrapper h3:before,
aside .aside-secs-wrapper .aside-back:before,
.sidebar .first-level:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

aside .aside-secs-wrapper .aside-back:before,
.sidebar .first-level:before {
  background-position: -235px -23px!important;
  height: 21px;
  width: 8px!important;
  margin-left: 3px;
}

.sidebar .first-level:before {
  background-position: -224px -23px!important;
  margin-left: 3px;
}

aside .aside-secs-wrapper .aside-back:hover:before,
.sidebar .first-level:hover:before {
  margin-left: 0px;
}

/*MY APPS*/
aside .a-apps-sec .apps-option:hover,
aside .a-apps-sec .aside-back:hover {
  background-color: #e67e22;
}

aside .a-apps-sec .apps-option:before {
  background-position: -478px 0px;
}

aside .a-apps-sec .apps-option:hover:before,
aside .a-apps-sec .sec-content-wrapper h3:before  {
  background-position: -478px -23px;
}

aside .a-apps-sec .sec-content-wrapper h3 {
  background-color: #e67e22;
  border-bottom-color: #c05a00;
}

aside .a-apps-sec .aside-back {
  background-color: #d35400;
  border-bottom-color: #bb4b01;
}

/*CHAT*/
aside .a-chat-sec .chat-option:hover,
aside .a-chat-sec .aside-back:hover {
  background-color: #95a5a6;
  border-bottom-color: #7f8c8d;
}

aside .a-chat-sec .chat-option:before,
aside .a-chat-sec .sec-content-wrapper h3:before {
  background-position: -502px 0px;
  width: 24px;
}

aside .a-chat-sec .chat-option:hover:before,
aside .a-chat-sec .sec-content-wrapper h3:before  {
  background-position: -502px -23px;
}

aside .a-chat-sec .sec-content-wrapper h3 {
  background-color: #95a5a6;
  border-bottom-color: #7f8c8d;
}

aside .a-chat-sec .aside-back {
  background-color: #7f8c8d;
  border-bottom-color: #7f8c8d;
}

/*ALERTAS*/
aside .a-alert-sec .alert-option:hover,
aside .a-alert-sec .aside-back:hover {
  background-color: #e74c3c;
  border-bottom-color: #c0392b;
}

aside .a-alert-sec .alert-option:before {
  background-position: -528px 0px;
}

aside .a-alert-sec .alert-option:hover:before,
aside .a-alert-sec .sec-content-wrapper h3:before  {
  background-position: -528px -23px;
}

aside .a-alert-sec .sec-content-wrapper h3 {
  background-color: #e74c3c;
  border-bottom-color: #c0392b;
}

aside .a-alert-sec .aside-back {
  background-color: #c0392b;
  border-bottom-color: #c0392b;
}

/*DICAS*/
aside .a-tips-sec .tips-option:hover,
aside .a-tips-sec .aside-back:hover {
  background-color: #f1c40f;
  border-bottom-color: #e2b603;
}

aside .a-tips-sec .tips-option:before,
aside .a-tips-sec .sec-content-wrapper h3:before {
  background-position: -552px 0px;
  width: 15px;
}

aside .a-tips-sec .tips-option:hover:before,
aside .a-tips-sec .sec-content-wrapper h3:before  {
  background-position: -552px -23px;
}

aside .a-tips-sec .sec-content-wrapper h3 {
  background-color: #f1c40f;
  border-bottom-color: #e2b603;
}

aside .a-tips-sec .aside-back {
  background-color: #e2b603;
  border-bottom-color: #e2b603;
}

/*MENSAGENS*/
aside .a-mes-sec .mes-option:hover,
aside .a-mes-sec .aside-back:hover {
  background-color: #525789;
  border-bottom-color: #393f77;
}

aside .a-mes-sec .mes-option:before {
  background-position: -569px 0px;
}

aside .a-mes-sec .mes-option:hover:before,
aside .a-mes-sec .sec-content-wrapper h3:before  {
  background-position: -569px -23px;
}

aside .a-mes-sec .sec-content-wrapper h3 {
  background-color: #525789;
  border-bottom-color: #393f77;
}

aside .a-mes-sec .aside-back {
  background-color: #393f77;
  border-bottom-color: #393f77;
}

/*CONFIGURAÇÕES*/
aside .a-config-sec .config-option:hover,
aside .a-config-sec .aside-back:hover {
  background-color: #91c854;
  border-bottom-color: #75a83d;
}

aside .a-config-sec .config-option:before {
  background-position: -514px -61px;
}

aside .a-config-sec .config-option:hover:before,
aside .a-config-sec .sec-content-wrapper h3:before  {
  background-position: -514px -85px;
}

aside .a-config-sec .sec-content-wrapper h3 {
  background-color: #91c854;
  border-bottom-color: #75a83d;
}

aside .a-config-sec .aside-back {
  background-color: #75a83d;
  border-bottom-color: #75a83d;
}

/*POINTS OF NAVIGATION*/
aside .a-pn-sec .pn-option:hover,
aside .a-pn-sec .aside-back:hover {
  background-color: #1abc9c;
  border-bottom-color: #17a68a;
}

aside .a-pn-sec .pn-option:before {
  background-position: -537px -61px;
  width: 17px;
}

aside .a-pn-sec .pn-option:hover:before,
aside .a-pn-sec .sec-content-wrapper h3:before  {
  background-position: -537px -85px;
  width: 17px;
}

aside .a-pn-sec .sec-content-wrapper h3 {
  background-color: #1abc9c;
  border-bottom-color: #17a68a;
}

aside .a-pn-sec .aside-back {
  background-color: #17a68a;
  border-bottom-color: #17a68a;
}

/*GRAPHS*/
aside .a-graph-sec .graph-option:hover,
aside .a-graph-sec .aside-back:hover {
  background-color: #3498db;
  border-bottom-color: #2980b9;
}

aside .a-graph-sec .graph-option:before {
  background-position: -557px -61px;
}

aside .a-graph-sec .graph-option:hover:before,
aside .a-graph-sec .sec-content-wrapper h3:before  {
  background-position: -557px -85px;
}

aside .a-graph-sec .sec-content-wrapper h3 {
  background-color: #3498db;
  border-bottom-color: #2980b9;
}

aside .a-graph-sec .aside-back {
  background-color: #2980b9;
  border-bottom-color: #2980b9;
}

/*PREFERENCES*/
aside .a-pref-sec .pref-option:hover,
aside .a-pref-sec .aside-back:hover {
  background-color: #34495e;
  border-bottom-color: #263646;
}

aside .a-pref-sec .pref-option:before {
  background-position: -582px -61px;
}

aside .a-pref-sec .pref-option:hover:before,
aside .a-pref-sec .sec-content-wrapper h3:before  {
  background-position: -582px -85px;
}

aside .a-pref-sec .sec-content-wrapper h3 {
  background-color: #34495e;
  border-bottom-color: #263646;
}

aside .a-pref-sec .aside-back {
  background-color: #263646;
  border-bottom-color: #263646;
}

aside .aside-secs-wrapper .sec-content-wrapper {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 310px;
  opacity: 0;
  display: block;
  visibility: hidden;
  background-color: #fff;
  width: 298px;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  -moz-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}

.aside-secs-wrapper input[type="checkbox"]:checked ~ .sec-content-wrapper {
  left: 0;
  opacity: 1;
  visibility: visible;
}

aside .sec-content-wrapper > ul {
  overflow-y: auto;
  height: -webkit-calc(100% - 96px);  /* para Chrome */
  height: -moz-calc(100% - 96px);     /* para Firefox */
  height: calc(100% - 96px);
  background-color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #ddd;
}

aside .sec-content-wrapper li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px 20px;
  width: 100%;
  display: block;
  position: relative;
  border-bottom: 1px solid #eee;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

aside .a-apps-sec li,
aside .a-chat-sec li,
aside .a-config-sec li,
aside .a-pn-sec li,
aside .a-graph-sec li,
aside .a-pref-sec li {
  padding: 20px;
}

aside .sec-content-wrapper li:before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0px;
  top: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

aside .sec-content-wrapper li.new:before {
  left: 0;
}

aside .sec-content-wrapper li:hover {
  background-color: #fafafa;
}

aside .sec-content-wrapper li > a {
  font: 1.6em "open_sansregular", Arial, Verdana, sans-serif;
  color: #444;
  line-height: 2em;
}

aside .a-apps-sec li > a,
aside .a-config-sec li > a,
aside .a-pn-sec li > a,
aside .a-graph-sec li > a,
aside .a-pref-sec li > a {
  line-height: 1em;
}

aside .sec-content-wrapper li > span {
  font: 1.1em "open_sansregular", Arial, Verdana, sans-serif;
  color: #777;
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.5em;
  margin-top: -5px;
}

aside .a-apps-sec li > span,
aside .a-config-sec li > span,
aside .a-pn-sec li > span,
aside .a-graph-sec li > span,
aside .a-pref-sec li > span {
  margin: 5px 0 0;
}

aside .sec-content-wrapper li > p {
  font: 1.3em "open_sansregular", Arial, Verdana, sans-serif;
  color: #666;
  display: block;
  line-height: 1.4em;
}

aside .a-apps-sec li > .a-apps-icons,
aside .a-config-sec li > .a-config-icons,
aside .a-pn-sec li > .a-pn-icons,
aside .a-graph-sec li > .a-graph-icons,
aside .a-pref-sec li > .a-pref-icons,
aside .a-chat-sec li > .chat-avatar {
  float: left;
  width: 48px;
  height: 42px;
  margin-right: 15px;
}

aside .a-apps-sec li > .a-apps-icons,
aside .a-config-sec li > .a-config-icons,
aside .a-pn-sec li > .a-pn-icons,
aside .a-graph-sec li > .a-graph-icons,
aside .a-pref-sec li > .a-pref-icons {
  width: 28px;
  height: 27px;
  background: url(../images/sprite.png) no-repeat;
}

/*##### APPS ASIDE ICOS #####*/
/*CALENDAR*/
aside .a-apps-sec li > .calendar,
aside .a-config-sec li > .calendar,
aside .a-pn-sec li > .calendar,
aside .a-graph-sec li > .calendar,
aside .a-pref-sec li > .calendar {
  background-position: -337px -61px;
}

/*MAP*/
aside .a-apps-sec li > .map,
aside .a-config-sec li > .map,
aside .a-pn-sec li > .map,
aside .a-graph-sec li > .map,
aside .a-pref-sec li > .map {
  background-position: -367px -61px;
  width: 26px;
  margin-right: 17px;
}

/*TOOL*/
aside .a-apps-sec li > .tool,
aside .a-config-sec li > .tool,
aside .a-pn-sec li > .tool,
aside .a-graph-sec li > .tool,
aside .a-pref-sec li > .tool {
  background-position: -395px -61px;
}

/*ROLL*/
aside .a-apps-sec li > .roll,
aside .a-config-sec li > .roll,
aside .a-pn-sec li > .roll,
aside .a-graph-sec li > .roll,
aside .a-pref-sec li > .roll {
  background-position: -424px -61px;
}

/*CLOCK*/
aside .a-apps-sec li > .clock,
aside .a-config-sec li > .clock,
aside .a-pn-sec li > .clock,
aside .a-graph-sec li > .clock,
aside .a-pref-sec li > .clock {
  background-position: -453px -61px;
  width: 27px;
  margin-right: 16px;
}

/*LIST*/
aside .a-apps-sec li > .list,
aside .a-config-sec li > .list,
aside .a-pn-sec li > .list,
aside .a-graph-sec li > .list,
aside .a-pref-sec li > .list {
  background-position: -482px -61px;
  width: 22px;
  margin-right: 18px;
  margin-left: 3px;
}

/*CHAT STATS*/
aside .a-chat-sec li.online > .chat-avatar:before {
  border-top-color: #1abc9c;
  border-left-color: #1abc9c;
}

aside .a-chat-sec li.busy > .chat-avatar:before {
  border-top-color: #e74c3c;
  border-left-color: #e74c3c;
}

aside .a-chat-sec li.away > .chat-avatar:before {
  border-top-color: #f1c40f;
  border-left-color: #f1c40f;
}

aside .a-chat-sec li.off > .chat-avatar:before {
  border-top-color: #bdc3c7;
  border-left-color: #bdc3c7;
}

aside .a-chat-sec li.new > .chat-avatar:after {
  border-bottom-color: #f8f8f8;
  border-right-color: #f8f8f8;
}

aside .a-chat-sec li:hover > .chat-avatar:after {
  border-bottom-color: #fafafa;
  border-right-color: #fafafa;
}

aside .a-chat-sec li > .chat-avatar > img {
  width: 48px;
  height: 42px;
}

aside .a-chat-sec li > a,
aside .a-chat-sec li > span {
  line-height: 1.4em;
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 180px;
  display: block;
}

aside .a-chat-sec li > span {
  text-transform: none;
  font-size: 1.2em;
  margin: 4px 0 0;
}

aside .a-chat-sec li > span > b {
  color: #3498db;
  font-weight: normal;
}

aside .a-chat-sec li > span > b:before {
  content: "/";
  padding: 0 5px;
}

aside .a-chat-sec li > .chat-avatar:before,
aside .a-chat-sec li > .chat-avatar:after {
  border-width: 7px;
}

/*MY APPS*/
.a-apps-sec .sec-content-wrapper li:hover {
  border-bottom-color: #e67e22;
}

.a-apps-sec .sec-content-wrapper li.new {
  background-color: #fff2e7!important;
}

.a-apps-sec .sec-content-wrapper li.new:before {
  background-color: #e67e22;
}

.a-apps-sec .sec-content-wrapper li > a:hover,
.a-apps-sec .sec-content-wrapper li > span {
  color: #e67e22;
}

/*CHAT*/
.a-chat-sec .sec-content-wrapper li:hover {
  border-bottom-color: #95a5a6;
}

.a-chat-sec .sec-content-wrapper li.new {
  background-color: #f8f8f8!important;
}

.a-chat-sec .sec-content-wrapper li.new:before {
  background-color: #95a5a6;
}

.a-chat-sec .sec-content-wrapper li > a:hover,
.a-chat-sec .sec-content-wrapper li > span {
  color: #95a5a6;
}

/*ALERTAS*/
.a-alert-sec .sec-content-wrapper li:hover {
  border-bottom-color: #e74c3c;
}

.a-alert-sec .sec-content-wrapper li.new {
  background-color: #fff2f1!important;
}

.a-alert-sec .sec-content-wrapper li.new:before {
  background-color: #e74c3c;
}

.a-alert-sec .sec-content-wrapper li > a:hover,
.a-alert-sec .sec-content-wrapper li > span {
  color: #e74c3c;
}

/*DICAS*/
.a-tips-sec .sec-content-wrapper li:hover {
  border-bottom-color: #f1c40f;
}

.a-tips-sec .sec-content-wrapper li.new {
  background-color: #fdf9eb!important;
}

.a-tips-sec .sec-content-wrapper li.new:before {
  background-color: #f1c40f;
}

.a-tips-sec .sec-content-wrapper li > a:hover,
.a-tips-sec .sec-content-wrapper li > span {
  color: #f1c40f;
}

/*MENSAGENS*/
.a-mes-sec .sec-content-wrapper li:hover {
  border-bottom-color: #525789;
}

.a-mes-sec .sec-content-wrapper li.new {
  background-color: #e7e9ff!important;
}

.a-mes-sec .sec-content-wrapper li.new:before {
  background-color: #525789;
}

.a-mes-sec .sec-content-wrapper li > a:hover,
.a-mes-sec .sec-content-wrapper li > span {
  color: #525789;
}

/*CONFIG*/
.a-config-sec .sec-content-wrapper li:hover {
  border-bottom-color: #91c854;
}

.a-config-sec .sec-content-wrapper li.new {
  background-color: #f4ffe8!important;
}

.a-config-sec .sec-content-wrapper li.new:before {
  background-color: #91c854;
}

.a-config-sec .sec-content-wrapper li > a:hover,
.a-config-sec .sec-content-wrapper li > span {
  color: #91c854;
}

/*POINTS OF NAVIGATION*/
.a-pn-sec .sec-content-wrapper li:hover {
  border-bottom-color: #1abc9c;
}

.a-pn-sec .sec-content-wrapper li.new {
  background-color: #e9f8f5!important;
}

.a-pn-sec .sec-content-wrapper li.new:before {
  background-color: #1abc9c;
}

.a-pn-sec .sec-content-wrapper li > a:hover,
.a-pn-sec .sec-content-wrapper li > span {
  color: #1abc9c;
}

/*GRAPHS*/
.a-graph-sec .sec-content-wrapper li:hover {
  border-bottom-color: #3498db;
}

.a-graph-sec .sec-content-wrapper li.new {
  background-color: #e9f3fa!important;
}

.a-graph-sec .sec-content-wrapper li.new:before {
  background-color: #3498db;
}

.a-graph-sec .sec-content-wrapper li > a:hover,
.a-graph-sec .sec-content-wrapper li > span {
  color: #3498db;
}

/*PREFERENCES*/
.a-pref-sec .sec-content-wrapper li:hover {
  border-bottom-color: #34495e;
}

.a-pref-sec .sec-content-wrapper li.new {
  background-color: #eff4f7!important;
}

.a-pref-sec .sec-content-wrapper li.new:before {
  background-color: #34495e;
}

.a-pref-sec .sec-content-wrapper li > a:hover,
.a-pref-sec .sec-content-wrapper li > span {
  color: #34495e;
}

.push-deactivator {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.2);
  height: 100%;
  height: 100rem;
  height: 100vh;
  width: 100%;
  width: 100rem;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border:1px solid #e6e6e6;
}

.sidebar-fixed {
  top: 20px;
  position: fixed;
}

@media all and (max-width: 1110px) {
  body {
    min-width: 100rem;
    min-width: 100vw;
  }

  .container_12 {
    width: 100rem;
    width: 100vw;
  }

  .logo-wrapper .grid_8 {
    width: 55rem;
    width: 55vw;
    margin: 0 1rem;
    margin: 0 1vw;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .logo-wrapper .message-header {
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .logo-wrapper .grid_4 {
    float: right;
    width: 40rem;
    width: 40vw;
    margin: 0 2rem 0 1rem;
    margin: 0 2vw 0 1vw;
  }

  .sidebar {
    display: none;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -260px;
    z-index: 999;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .sidebar.active {
    /*right: -282px;*/
    right: -220px;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    display: block;
    /*
    -webkit-box-shadow: -1px 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 0 5px rgba(0,0,0,0.3);
    box-shadow: -1px 0 5px rgba(0,0,0,0.3);*/
  }

  aside {
    max-height: 100rem;
    max-height: 100vh;
    height: 100rem;
    height: 100vh;
    border-left-color: rgba(0,0,0,0.4);
  }

  .h-btn.push {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .mp-pusher.active > .push-deactivator {
    visibility: visible;
    opacity: 1;
  }

  .main-container .area-content {
    width: 770px;
    margin: 0 auto;
    display: block;
    float: none;
  }

  .mp-pusher.active {
    -webkit-transform: translate3d(-220px, 0, 0)!important;
    -moz-transform: translate3d(-220px, 0, 0)!important;
    transform: translate3d(-220px, 0, 0)!important;
  }

  .scroller {
    /*width: 1014px;*/
    overflow-y: auto;
    overflow-x: auto;
  }

  .scroller-inner {
    /*width: 1014px;*/
  }
}