body{
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif;	
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 90px;
	background-color: #f5f5f5;
}
.container .text-muted {
	margin: 10px 0;
}
.text-muted {
	color: #777;
}

.elementGroup{
	padding: 0 0 20px 0;
}

.fundo{
	background-color: #fff;
	padding: 15px 30px;
	border: solid 1px #ddd;
	margin: 10px;
}
.tlf-mini-table {
	border-left: 1px solid #e1e1e1;
}
.table {
	margin-bottom: 8px;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.tlf-mini-table>thead>tr>th {
	border-right: 1px solid #e1e1e1;
	color: #007486;
	font-weight: bolder;
	border-bottom: 1px solid #e1e1e1;
}
.tlf-title1 {
	color: #00c6d7;
	border-bottom: solid 2px #00c6d7;
	padding-bottom: 12px;
	padding-top: 15px;
	margin-bottom: 10px;
	font-weight: bold;
}
.sm-units-row {
	margin-bottom: 0.5em;
}
.tituloEtapa {
	font-size: 11px;
	color: #898989;
}
.tlf-cor-azul-claro {
	color: #00c6d7;
	margin-top: -10px;
	min-height: 15px;
}
.gridStatus {
    color: #00c6d7;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}
.col-project-left{
	border-right: solid 1px #ddd;
	padding-right: 0px;
    margin-top: 10px;
}
.leftbox{
    text-align: right;
    padding-right: 10px;
    margin-top: -10px;
    width: 100%;
}
.tdn:hover{
	text-decoration: none;
}